/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600italic,600,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Source Sans Pro, Arial; }

h1, h2, h3, h4, h5, h6 {
  font-family: Crimson, Arial, Helvetica; }

/*NAV*/
.mobile-nav {
  display: none; }

.contenedor-nav {
  max-width: 900px;
  margin: auto;
  padding: 30px 15px;
  overflow: auto;
  display: flex;
  flex-direction: row; }

.lista-nav1 {
  margin-top: 20px;
  float: left; }
  .lista-nav1 li {
    display: inline-block; }
    .lista-nav1 li a {
      text-decoration: none; }
    .lista-nav1 li .texto-nav {
      text-transform: uppercase;
      color: #323b44;
      margin-left: 5px; }

.logo {
  text-align: center;
  width: 75%; }
  .logo .img-logo {
    width: 120px;
    height: 50px; }

.lista-nav2 {
  margin-top: 15px;
  float: right; }
  .lista-nav2 li {
    display: inline-block; }
  .lista-nav2 .texto-nav {
    text-transform: uppercase;
    margin-left: 2px;
    margin-right: 5px; }
  .lista-nav2 .texto-nav2 {
    text-transform: uppercase;
    margin-left: 5px;
    border: 1px solid #e4e4e4;
    padding: 5px 8px; }

.container-menu-nav ul {
  text-align: center;
  margin-bottom: 40px; }
  .container-menu-nav ul li {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block; }
    .container-menu-nav ul li a {
      text-decoration: none;
      color: black; }

.linea-horizontal {
  max-width: 900px;
  margin: auto;
  height: 1px;
  background: #e5e5e5;
  border: 0; }

@media screen and (max-width: 799px) {
  .linea-horizontal {
    display: none; }

  .web-nav {
    display: none; }

  .mobile-nav {
    display: block; }
    .mobile-nav .logo {
      text-align: center;
      width: 100%; }
      .mobile-nav .logo .img-logo {
        width: 180px;
        height: 85px; }
    .mobile-nav .container-menu-nav-mobile ul {
      text-align: center;
      margin-bottom: 40px; }
      .mobile-nav .container-menu-nav-mobile ul li {
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block; }
        .mobile-nav .container-menu-nav-mobile ul li a {
          text-decoration: none;
          color: black; }
          .mobile-nav .container-menu-nav-mobile ul li a .ion-search,
          .mobile-nav .container-menu-nav-mobile ul li a .ion-bag,
          .mobile-nav .container-menu-nav-mobile ul li a .ion-navincon-round {
            font-size: 25px; } }
/*1 SECCION*/
.contenedor-seccion {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: row; }

.contenedor-menu {
  margin-top: 20px;
  width: 25%; }
  .contenedor-menu article {
    display: flex;
    flex-direction: row; }
    .contenedor-menu article .sex {
      color: #569bba;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 15px;
      margin-right: 8px; }
    .contenedor-menu article .ion-chevron-right {
      color: #569bba;
      font-size: 12px;
      margin-top: 12px;
      margin-bottom: 15px; }
  .contenedor-menu h4 {
    color: #b4b4b4;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .contenedor-menu li a {
    text-decoration: none;
    color: black;
    line-height: 30px; }
  .contenedor-menu .look {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px; }

@media screen and (max-width: 799px) {
  .contenedor-menu {
    display: none; } }
.contenedor-productos {
  margin-top: 20px;
  width: 75%; }
  .contenedor-productos .container-img1 {
    display: flex;
    width: 100%;
    height: 300px; }
    .contenedor-productos .container-img1 .image1 {
      flex-grow: 1;
      max-width: 100%;
      height: auto; }
  .contenedor-productos .titulo1-mobile {
    display: none; }
  .contenedor-productos .titulo1 {
    margin-left: 50px;
    position: absolute;
    bottom: 225px; }
    .contenedor-productos .titulo1 h2 {
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 20px;
      color: white;
      font-size: 15px; }
    .contenedor-productos .titulo1 h1 {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      font-size: 30px; }
  .contenedor-productos .titulo2 {
    margin-left: 10px;
    position: absolute;
    top: 580px; }
    .contenedor-productos .titulo2 h3 {
      text-transform: uppercase;
      margin-bottom: 15px;
      color: white;
      font-size: 22px;
      font-weight: bold; }
    .contenedor-productos .titulo2 h4 {
      text-transform: uppercase;
      color: white;
      font-size: 13px;
      text-align: left;
      margin-top: 0; }
  .contenedor-productos .titulo3 {
    margin-left: 10px;
    position: absolute;
    right: 430px;
    top: 580px; }
    .contenedor-productos .titulo3 h3 {
      text-transform: uppercase;
      margin-bottom: 15px;
      color: white;
      font-size: 22px;
      font-weight: bold; }
    .contenedor-productos .titulo3 h4 {
      text-transform: uppercase;
      color: white;
      font-size: 13px;
      text-align: left;
      margin-top: 0; }
  .contenedor-productos h4 {
    text-align: center;
    text-transform: uppercase;
    color: #b4b4b4;
    margin-top: 40px;
    margin-bottom: 20px; }
  .contenedor-productos .container-imgs {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 40px; }
    .contenedor-productos .container-imgs .img1 {
      padding-right: 10px; }
      .contenedor-productos .container-imgs .img1 .img-article {
        flex-grow: 1;
        max-width: 100%;
        height: auto; }
    .contenedor-productos .container-imgs .img2 {
      padding-left: 10px; }
      .contenedor-productos .container-imgs .img2 .img-article {
        flex-grow: 1;
        max-width: 100%;
        height: auto; }

@media screen and (max-width: 799px) {
  .contenedor-productos {
    margin-top: 20px;
    width: 100%; }
    .contenedor-productos .titulo1 {
      display: none; }
    .contenedor-productos .titulo1-mobile {
      text-align: center;
      display: flex;
      flex-direction: column; }
      .contenedor-productos .titulo1-mobile h2 {
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
        color: black;
        font-size: 15px; }
      .contenedor-productos .titulo1-mobile h1 {
        text-transform: uppercase;
        font-weight: bold;
        color: black;
        font-size: 30px; }
    .contenedor-productos .titulo2 {
      display: flex;
      flex-direction: column;
      margin-left: 80px;
      position: absolute;
      top: 780px; }
      .contenedor-productos .titulo2 h3 {
        text-transform: uppercase;
        margin-bottom: 15px;
        color: white;
        font-size: 22px;
        font-weight: bold; }
      .contenedor-productos .titulo2 h4 {
        text-transform: uppercase;
        color: white;
        font-size: 13px;
        text-align: left;
        margin-top: 0; }
    .contenedor-productos .titulo3 {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      position: absolute;
      right: none;
      left: 70px;
      top: 1100px; }
      .contenedor-productos .titulo3 h3 {
        text-transform: uppercase;
        margin-bottom: 15px;
        color: white;
        font-size: 22px;
        font-weight: bold; }
      .contenedor-productos .titulo3 h4 {
        text-transform: uppercase;
        color: white;
        font-size: 13px;
        text-align: left;
        margin-top: 0; }
    .contenedor-productos .container-imgs {
      display: flex;
      flex-direction: column; }
      .contenedor-productos .container-imgs .img1 {
        display: flex;
        max-width: 100%;
        padding-right: 0; }
      .contenedor-productos .container-imgs .img2 {
        display: flex;
        max-width: 100%;
        padding-left: 0;
        margin-top: 20px; } }
.container-articles {
  display: flex;
  flex-direction: row;
  margin-top: 35px; }
  .container-articles .article {
    text-align: center;
    margin: 10px; }
    .container-articles .article .img-article {
      flex-grow: 1;
      max-width: 100%;
      height: auto; }
    .container-articles .article h3 {
      color: #569bba;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 20px; }
    .container-articles .article .tipo-lente {
      font-weight: bold;
      margin-top: 15px; }
    .container-articles .article .precio {
      text-transform: uppercase;
      color: #888888;
      margin-top: 15px; }

@media screen and (max-width: 799px) {
  .container-articles {
    display: flex;
    flex-direction: column; }
    .container-articles .article {
      margin-top: 30px; } }
.container-articles2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 40px; }
  .container-articles2 .article2 {
    margin: 10px; }
    .container-articles2 .article2 .img-article {
      flex-grow: 1;
      max-width: 100%;
      height: auto; }
    .container-articles2 .article2 h2 {
      color: black;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 15px; }
    .container-articles2 .article2 .text-article {
      text-align: left;
      line-height: 25px; }

@media screen and (max-width: 799px) {
  .container-articles2 {
    display: flex;
    flex-direction: column; }

  .titulo4 {
    display: none; }

  .titulo4-mobile {
    display: block;
    text-align: center;
    margin-left: 80px;
    position: relative;
    bottom: 200px;
    right: 30px; }
    .titulo4-mobile h3 {
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 20px;
      color: white;
      font-size: 13px; }
    .titulo4-mobile h2 {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      font-size: 30px; } }
.contenedor-img-grande {
  margin-top: 20px;
  width: 100%; }
  .contenedor-img-grande .container-img1 {
    display: flex;
    width: 100%;
    height: 300px; }
    .contenedor-img-grande .container-img1 .image4 {
      flex-grow: 1;
      max-width: 100%;
      height: auto; }

.titulo4 {
  margin-left: 270px;
  position: absolute;
  top: 1300px;
  text-align: center; }
  .titulo4 h3 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 13px; }
  .titulo4 h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 30px; }

.titulo4-mobile {
  display: none; }

.container-articles3 {
  display: flex;
  flex-direction: row; }
  .container-articles3 .article3 {
    margin: 10px; }
    .container-articles3 .article3 .img-article {
      flex-grow: 1;
      max-width: 100%;
      height: auto;
      margin-bottom: 10px; }
    .container-articles3 .article3 h3 {
      font-size: 14px;
      margin-top: 20px;
      font-weight: bold;
      margin-bottom: 15px; }
    .container-articles3 .article3 .text-article {
      margin-bottom: 20px;
      line-height: 25px;
      text-align: left; }
    .container-articles3 .article3 a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px; }

@media screen and (max-width: 799px) {
  .container-articles3 {
    display: flex;
    flex-direction: column; } }
.container-articles4 {
  display: flex;
  flex-direction: row; }
  .container-articles4 .article4 {
    width: 33%;
    margin: 10px; }
    .container-articles4 .article4 .img-article {
      flex-grow: 1;
      max-width: 100%;
      height: 150px;
      margin-bottom: 10px; }

.container-div5 {
  display: flex;
  flex-direction: row;
  text-align: center; }
  .container-div5 .div1 {
    width: 33%;
    margin: 10px;
    padding: 30px;
    background: #b7bcc2;
    color: white; }
    .container-div5 .div1 .texto-medio {
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 20px;
      font-weight: bold; }
  .container-div5 .div2 {
    width: 33%;
    margin: 10px;
    padding: 30px;
    background: #94a0b0;
    color: white; }
    .container-div5 .div2 .texto-medio {
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 20px;
      font-weight: bold; }
  .container-div5 .div3 {
    width: 33%;
    margin: 10px;
    padding: 30px;
    background: #d1c4b4;
    color: white; }
    .container-div5 .div3 .texto-medio {
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 20px;
      font-weight: bold; }

.titulo5 {
  position: absolute;
  top: 2210px;
  right: 750px; }
  .titulo5 h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 17px; }

.titulo6 {
  position: absolute;
  top: 2210px;
  right: 515px; }
  .titulo6 h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 17px; }

.titulo7 {
  position: absolute;
  top: 2210px;
  right: 310px; }
  .titulo7 h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 17px; }

@media screen and (max-width: 799px) {
  .container-articles4 {
    display: flex;
    flex-direction: column; }
    .container-articles4 .article4 {
      margin: 10px 0;
      display: flex;
      width: 100%; }

  .container-div5 {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .container-div5 .div1 {
      width: 100%;
      padding: 60px 0px;
      background: #b7bcc2;
      color: white;
      margin-top: 25px;
      margin-left: 0;
      margin-right: 0; }
      .container-div5 .div1 .texto-medio {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 20px;
        font-weight: bold; }
    .container-div5 .div2 {
      width: 100%;
      padding: 60px 0px;
      background: #94a0b0;
      color: white;
      margin-top: 25px;
      margin-left: 0;
      margin-right: 0; }
      .container-div5 .div2 .texto-medio {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 20px;
        font-weight: bold; }
    .container-div5 .div3 {
      width: 100%;
      padding: 60px 0px;
      background: #d1c4b4;
      color: white;
      margin-top: 25px;
      margin-left: 0;
      margin-right: 0; }
      .container-div5 .div3 .texto-medio {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 20px;
        font-weight: bold; }

  .titulo5,
  .titulo6,
  .titulo7 {
    display: none; } }
/*FOOTER*/
.contenedor-footer {
  max-width: 900px;
  margin: auto;
  padding: 10px 15px;
  overflow: auto; }

.linea-horizontal2 {
  height: 1px;
  background: #e5e5e5;
  border: 0; }

.article-list-mobile {
  display: none; }

.linea-horizontal2-mobile {
  display: none; }

.container-footer {
  display: flex;
  flex-direction: row; }
  .container-footer .article-list {
    margin: 10px; }
    .container-footer .article-list .texto-lista {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      color: #1f1f1f; }
    .container-footer .article-list a {
      text-decoration: none;
      font-size: 14px;
      line-height: 25px;
      color: #8c8e9a; }
  .container-footer .article {
    margin: 10px; }
    .container-footer .article .texto {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      color: #1f1f1f; }
    .container-footer .article .container-union {
      display: flex;
      flex-direction: row; }
      .container-footer .article .container-union .img-pixel {
        width: 50px;
        height: 50px;
        margin-right: 10px; }
      .container-footer .article .container-union .texto-union {
        font-weight: bold;
        margin-top: 3px;
        margin-bottom: 8px; }
      .container-footer .article .container-union a {
        text-decoration: none; }
    .container-footer .article .parrafo {
      text-decoration: none;
      font-size: 14px;
      color: #8c8e9a;
      margin-top: 15px;
      margin-bottom: 5px; }
    .container-footer .article .ion-happy {
      color: #facd3e;
      font-size: 50px; }
    .container-footer .article a {
      text-decoration: none; }
    .container-footer .article .texto2 {
      margin-top: 25px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 15px;
      color: #a8a8a8; }
  .container-footer .article-list2 {
    margin: 10px; }
    .container-footer .article-list2 .texto-lista1 {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      color: #1f1f1f; }
    .container-footer .article-list2 .texto-lista2 {
      margin-bottom: 20px;
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      color: #1f1f1f; }
    .container-footer .article-list2 ul li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px; }
      .container-footer .article-list2 ul li a {
        text-decoration: none; }
      .container-footer .article-list2 ul li .ion-social-facebook,
      .container-footer .article-list2 ul li .ion-social-twitter,
      .container-footer .article-list2 ul li .ion-social-pinterest,
      .container-footer .article-list2 ul li .ion-social-instagram-outline,
      .container-footer .article-list2 ul li .ion-ios-email-outline {
        color: #3b4859;
        font-size: 25px; }
    .container-footer .article-list2 div .form-mail .campo-text1 {
      width: 195px;
      height: 35px;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
      margin-top: 5px;
      padding-left: 10px;
      color: #e1e1e1;
      font-family: Source Sans Pro, Arial; }
    .container-footer .article-list2 div .form-mail .ion-ios-email-outline {
      position: relative;
      top: 2px;
      right: 22px;
      font-size: 20px;
      color: #e5e5e5; }

.copyright {
  color: #acacac;
  font-size: 12px; }

@media screen and (max-width: 799px) {
  .container-footer {
    display: flex;
    flex-direction: column;
    text-align: center; }

  .linea-horizontal2-mobile {
    display: block;
    height: 1px;
    background: #e5e5e5;
    border: 0;
    margin-bottom: 30px; }

  .article-list-mobile {
    display: block;
    text-align: center;
    margin: 10px; }
    .article-list-mobile .texto-lista {
      margin-top: 30px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      color: #8c8e9a; }
    .article-list-mobile .ion-plus-round {
      font-size: 14px;
      padding-left: 13px; }
    .article-list-mobile a {
      text-decoration: none;
      font-size: 14px;
      line-height: 35px;
      color: black; }
    .article-list-mobile ul {
      margin-bottom: 30px; }

  .container-union {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .container-union .img-pixel {
      width: 50px;
      height: 50px;
      margin-right: 10px; }
    .container-union article {
      display: block; }
    .container-union .texto-union {
      font-weight: bold;
      margin-top: 3px;
      margin-bottom: 8px; }
    .container-union a {
      text-decoration: none; }

  .copyright {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
