body {
	font-size: 14px;
	font-family: 'Open sans', arial;
}
nav a {
	text-decoration: none;
	}

/*Header*/
#header-logo {
	float: left;
	padding: 25px;
}

.header-nav {
	list-style-type: none;
	float: right;
	font-family: 'Raleway', arial;
	font-weight: bold;  
}

header nav ul li {
	float: right;
	margin: 20px;
}

/*1 sección*/
.imagen1 {
	width: 1310px; 
	height: 600px;
	clear: both;
}

.div-section1 {
   position: absolute; 
   top: 300px; 
   left: 100px;
   right: 400px;
   color: white;
   font-family: 'Raleway', arial;   
}

.span5 {
	font-size: 40px;
}


/*2 sección*/
#service-section {
width: 100%;
}

.parrafo1 {
	font-size: 11px;
}

.items {
	list-style: none;
	width: 760px;
	margin: 0 auto;
	display: inline-block;
	padding: 0;
}
.items .item {
    display: inline-block;
    width: 24%;
    text-align: center;	
    margin: 0;
    padding: 0;
}

.circle {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-radius: 100%;
}

.circle.blue {
    background: blue;
}

.circle.yellow {
    background: yellow;
}

.circle.orange {
    background: orange;
}
.circle.red {
    background: red;
}

/*3 sección*/

#div-section3 {
	text-align: center;
}

.lista-izquierda {
    list-style-type: none;
}

.lista-derecha {
    list-style-type: none;
}    

/*4 sección*/
.div-4section {
    position: absolute; 
    top: 2950px; 
    left: 300px;
    color: black;
    font-family: 'Raleway', arial;
}

.imagen2 {
	width: 1310px; 
	height: 500px;
	clear: both;
}

.span6 {
    font-size: 35px;
}
.div-lista1 {
	float: left;
} 

.div-lista2 {
	float: left;
} 

.div-lista3 {
	float: left;
} 

.div-lista4 {
	float: left;
}

.span2 {
	font-size: 50px;
}

.span3 {
	vertical-align: super;
}

.span4 {
	font-size: 12px;
	text-align: center;
}

.item1 {
	color: #11E8EF;
}

.item2 {
	color: #F2EB0D;  
}

.item3 {
	color: orange;
}

.item4 {
	color: red;
}
.boton1 {
	background-color: #0D91F2;
	border-radius: 6px;
	padding: 10px 20px 10px 20px;
}
.vinculo1 {
	text-decoration: none;
	color: white;
} 


/*5 sección*/
.div-5seccion {
	background-color: #073751;
	text-align: center; 
	clear: both;
	color: white;
	padding: 70px;
	font-size: 25px;
	font-family: 'Open Sans', arial;
}

.span1 {
	font-size: 35px;
	color: #43ABE3;
}

/*Footer*/
#div-footer{
    background-color: #272D34;
	padding: 60px;
	color: white;
	font-family: 'Raleway', arial; 
}
#footer-text {
	float: left;
}

.ul-footer{
	list-style-type: none;
	margin: 10px;
	float: right;
	color: white;
	padding-bottom: 15px;
}
footer div nav ul li {
	float: right;
	margin: 20px;
	text-decoration: none;
}
.a1 {
	color: white;
}	